*.pyc

# Ignore Pycharm stuff
.idea/*

# Ignore data
data/CoVoST2
*.pt
*.dict
*.scp
*.ark
*.txt
*.model
*.vocab
*.mp3
*.zip
*.tsv
*.DS_Store

# Ignore packages installed from source
python_speech_features2/

# Ignore log files
*.log

# Ignore notebook checkpoints
notebooks/.ipynb_checkpoints/*